{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} PORTAL {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0"

    }
</style>

<body>

    <!---login--->

    {% block content %}


    <div class="card" style="width: 18rem; border-color: aliceblue; border-radius: 20px; box-shadow: 5px 5px 10px gray;
 width: 500px;">
        <center>
            <div class="card-body">
                <h5 class="card-title">LOGIN</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Login into your account:</h6>
                <p class="card-text">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-danger"> Login </button>
                </form>
                <p>Don't have an account? <a style="color: blanchedalmond;" href="{% url 'register' %}"> Register
                        here</a></p>
            </div>

            </p>
    </div>
    </center>
    </div>

    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>